<app-header />

@if(isloading){
<app-loading-screen />
}
@else {
<div class="wrapper">
    <div class="search-bar">

        <input type="text" placeholder="search by title, or description..." [(ngModel)]="searchQuery"
            (ngModelChange)="searchEpisodes($event)" />
    </div>


    @if(newEpisodes.length > 0){

    <div class="episodes-grid">

        @for(episode of newEpisodes; track episode.id){

        <app-episode-card [episode]="episode" />
        }


    </div>
    }
    <mat-paginator [length]="episodes.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)"></mat-paginator>
</div>
}