<div class="team-card">
    <div class="avatar">
        <img [src]="teamMember.profile_image" [alt]="teamMember.name" />
    </div>
    <h3>{{ teamMember.name }}</h3>
    <p>{{teamMember.role}}</p>
    <p class="experience">{{ teamMember.bio }}</p>

    <div class="social-icons">
        @for(socials of teamMember.social_media_links; track $index){
        @if((socials.platform).toLowerCase() === "facebook"){

        <a [href]="socials.url" target="_blank" aria-label="Facebook">
            <i class="fa fa-facebook"></i>
        </a>
        }
        @else if ((socials.platform).toLowerCase() === "twitter") {
        <a [href]="socials.url" target="_blank" aria-label="Twitter">
            <i class="fa fa-twitter"></i>
        </a>
        }
        @else if ((socials.platform).toLowerCase() === "instagram") {
        <a [href]="socials.url" target="_blank" aria-label="Instagram">
            <i class="fa fa-instagram"></i>
        </a>
        }
        }

    </div>
</div>