<section class="hero-section">
    <div class="hero-content">
        <h1>THE<br />PODCAST<br />SHOW</h1>
        <p>Discover new episodes, share your voice, and explore curated playlists.</p>
        <button>Explore Episodes</button>
    </div>

</section>
<section class="featured-playlists">
    <h2>Featured Playlists</h2>

    <div class="grid">


        @for(playlist of featuredPlaylists; track playlist.id){


        <app-playlist-card [playlist]="playlist" [image]="images[$index]"></app-playlist-card>


        }

    </div>
</section>